.infoBox__container{
  width: 274px;
  height: 121px;
  flex-shrink: 0;
  border : 1px solid lightgray;
  justify-content: center;
  display: block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 53px;
  box-shadow: 5px;
}

.infoBox__container > .infoBox__heading{
  margin-top: 2px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}

.orderType{
  display: flex;
  margin-bottom: 0;
}

.delivery{
display: flex;
width: 112px;
height: 18px;
flex-shrink: 0;
border-radius: 7px;
border: 1px solid var(--sec, #4F4F4F);
background: #000;
color: white;
flex-direction: column;
margin-left: 28px;
margin-top: 9px;
flex-shrink:0;
justify-content: center;
align-items: center;
margin-bottom: 10px;
}

.pickup{
  display: flex;
width: 112px;
height: 18px;
flex-shrink: 0;
border-radius: 7px;
border: 1px solid var(--sec, #4F4F4F);
flex-direction: column;
margin-right:30px;
margin-top: 9px;
flex-shrink:0;
justify-content: center;
align-items: center;
margin-bottom: 10px;
background: lightgray;
}

.order__info{
  display:inline-flex;
  justify-content: center;
align-items: center;
margin-right: 192px;
margin-left: auto;
flex-shrink: 0;
color: var(--system-black, #121212);
text-align: center;
font-size: 9.119px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 11.854px */
letter-spacing: -0.228px;
margin-top: -60px;
}

.order__entity1{
  display: flex;
  width: 40.121px;
height: 11.854px;
text-align: center;
margin-left: 41px;
 margin-top: -60px;
margin-right:38px;
 justify-content: center;
}
.order__entity2{
  display: flex;
  width: 40.121px;
height: 11.854px;
 margin-top: -60px;
text-align: center;
margin-right:37px;
margin-left: auto;
 justify-content: center;
}
.order__entity3{
  display: flex;
  margin-top: -60px;
  width: 40.121px;
height: 11.854px;
text-align: center;
margin-right:192px;
margin-left: auto;
 justify-content: center;
}
.hours{
  display:flex;
  width: 152.776px;
height: 18.267px;
margin-top:-20px;
text-align: center;
 justify-content: center;
 font-size: 9.119px;
font-style: normal;
font-weight: 700;
line-height: 130%; 
letter-spacing: -0.228px;
height: 11.854px;
margin-left: 65px;
color: #000;
justify-content: center;
}