.orderSummary__container{
    background-color: white;
    height: 824px;
    width: 411px;
    border-radius: 32px;
}

.razorPaySummary__footer{
    width: 411px;
    height: 40.905px;
    flex-shrink: 0;
    border-radius: 0px 0px 32px 32px;
    background: #000;
    margin-top:608px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
}

.razorPaySummary__footer:hover{
 cursor:pointer;
}
